.container{
    width:1280px;
    height:auto;
    margin:140px auto 260px auto;
    display:flex;
    justify-content: space-between;
}
.l-box{
    width:312px;
    height:auto;
}
.r-box{
    width:312px;
    height:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.c-line{
    width:96px;
    height:1px;
    border: 1px solid #6b6b6b;
}
.s-r-box{
    width:312px;
    text-align:right;
    margin-top:24px;
}
.s-r-box .p1{
    margin-bottom:12px;
}


.members-box{
    width:920px;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    gap: 80px 10px;
}
.member-card{
    width:300px;
    height:400px;
    background:#555;
    position:relative;
}
.member-card-space{
    width:300px;
    height:400px;
}
.text-area{
    z-index:2;
    position:absolute;
    left:20px;
    bottom:20px;
}
.text-area .headline-4{
    margin-bottom:12px;
}
.text-area .p3{
    margin-top:24px;
}
.img-area{
    z-index:1;
    position:absolute;
    width:180px;
    height:240px;
    top:0;
    right:0;
    background:red;
}