.container{
    width:1280px;
    height:auto;
    margin:140px auto 80px auto;
    display:flex;
    justify-content: space-between;
}
.l-box{
    width:312px;
    height:auto;
}
.r-box{
    width:312px;
    height:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.c-line{
    width:96px;
    height:1px;
    border: 1px solid #6b6b6b;
}
.s-r-box{
    width:312px;
    text-align:right;
    margin-top:24px;
}
.s-r-box .p1{
    margin-bottom:12px;
    cursor: pointer;
}


.members-box{
    width:920px;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    gap: 80px 10px;
}
.member-card{
    width:300px;
    height:400px;
    background:#555;
    position:relative;
}
.member-card-space{
    width:300px;
    height:400px;
}
.text-area{
    z-index:2;
    position:absolute;
    left:20px;
    bottom:20px;
}
.text-area .headline-4{
    margin-bottom:12px;
}
.text-area .p3{
    margin-top:24px;
}
.img-area{
    z-index:1;
    position:absolute;
    width:180px;
    height:240px;
    top:0;
    right:0;
}
.img-area img{
    width:180px;
    height:240px;
    object-fit: cover;
}
.normal-m{
    width:1280px;
    height:auto;
    margin:0 auto 240px auto;
    padding-left:360px;
}
.nor-title{
    border-top: solid 1px #6b6b6b;
    padding-top:24px;
}
.nor-con{
    width:100%;
    margin-top:12px;
    height:auto;
    display:flex;
    flex-wrap: wrap;
}
.nor-name{
    width:88px;
    margin-right:20px;
    margin-bottom:8px;
    color:#d7d7d7;
}


/* 모바일 */
@media all and (max-width:480px){

    .container .headline-4{font-size:32px;}
    .container .p2{font-size:16px;}
    .container .p3{font-size:14px;}
    .container{
        width:100vw;
        padding:0 20px;
        flex-direction: column;
    }
    .l-box{
        width:100%;
        display:flex;
        margin-bottom:24px;
    }
    .r-box{
        width:auto;
        margin-right:24px;
    }
    .c-line{
        width:0;
        height:0;
        border:none;
    }
    .s-r-box{
        display:flex;
    }
    .s-r-box .p1{
        margin-right:24px;
    }
    .members-box{
        width:80%;
        margin-left: auto;
        gap: 12px 0;
    }
    .member-card{
        width:100%;
        height: auto;;
        aspect-ratio: 3/4;
    }
    .img-area{
        width:60%;
        height:auto;
        aspect-ratio: 3/4;
    }
    .img-area img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .member-card-space{
        width:100%;
        height:60px;
    }

    .normal-m{
        width:100vw;
        margin-top:120px;
        padding-left:20px;
        padding-right:20px;
    }
    .nor-title{
        width:80%;
        margin-left:auto;
    }
    .nor-con{
        width:80%;
        margin-left:auto;
    }
    .nor-name{
        width:64px;
        margin-right:16px;
        font-size:15px;
    }
}