.main-area{
    margin-top:50px;
    height:320px;
    width:100%;
    background:#1C3428;
    display:flex;
    align-items:center;
}
.m-a-con{
    width:1280px;
    height:auto;
    margin:auto;
}
.m-a-con .headline-2{
    margin-bottom:24px;
}


.plan-box{
    width:1280px;
    height:auto;
    margin:140px auto 260px auto;
}
.p-b-contents{
    width:1280px;
    margin-bottom:92px;
    display:flex;
    justify-content: space-between;
}
.p-b-left{
    width:620px;
    height:auto;
}
.p-b-left .l-con{
    display:flex;
    align-items: center;
}
.p-b-left .primary{
    width:148px;
    height:38px;
    font-size:12px;
    font-weight:500;
    background:#1C3428;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right:24px;
}
.p-b-left .secondary{
    width:172px;
    height:38px;
    font-size:12px;
    font-weight:500;
    background:#004D92;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right:24px;
}
.p-b-left .line{
    width:102px;
    height:38px;
    font-size:12px;
    font-weight:500;
    border:1px solid #555;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right:24px;
}
.p-b-right{
    width:620px;
}
.p-b-right .p3{
    margin-bottom:48px;
}
.p-b-right .p1{
    color:#fff;
    margin-bottom:12px;
}



/* 모바일 */
@media all and (max-width:480px){
    .m-a-con{
        width:100%;
        padding: 0 20px;
    }

    .plan-box{
        width:100%;
        padding: 0 20px;
    }
    .p-b-contents{
        width:100%;
        flex-direction: column;
    }
    .p-b-left{
        width:100%;
    }
    .p-b-left .l-con{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom:32px;
    }
    .p-b-left .primary{
    margin-bottom:12px;
    font-size:10px;
    width:auto;
    height:auto;
    padding: 8px 12px;
    }
    .p-b-right{
        width:100%;
    }
    .p-b-right .p1{
        width:100%;
        margin-bottom:8px;
        margin-right:24px;
    }
    .p-b-right .p3{
        margin-bottom: 24px;
    }
}